<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Alberto Jimenez Aliste y Mario Penavades Suarez.
    <br>
    URL: <a href="https://github.com/albertojmz/practica51">https://github.com/albertojmz/practica51</a>
</p>

<img width="180" src="/images/fotoalberto.jpg" />
<img width="320" src="/images/fotomario.JPG" />

